/* line 5, ../sass/main.scss */
#container .blue {
  color: red;
}
/* line 9, ../sass/main.scss */
#container .red {
  color: blue;
}

/* line 16, ../sass/main.scss */
body {
  background-color: blue;
}

/* line 2, ../sass/_fonts.scss */
body {
  font-size: 14px;
}

/* line 354, icons/*.png */
.icons-sprite, .icon-alert, .icon-arrow-next-page, .icon-arrow-prev-page, .icon-authentication-group, .icon-bulk, .icon-category-brand, .icon-category-fans, .icon-category-game, .icon-category-hobby, .icon-category-industry, .icon-category-life, .icon-category-sport, .icon-category-study, .icon-certification, .icon-down-arrow, .icon-female, .icon-group, .icon-licence-auth, .icon-loc-white, .icon-loc, .icon-long-bar, .icon-male, .icon-manu-keyword-area, .icon-micro-life, .icon-nav-business, .icon-nav-group, .icon-nav-people, .icon-nav-up-arrow, .icon-people-keyword-area, .icon-qq, .icon-search, .icon-tenpay-auth, .icon-up-arrow {
  background: url('../images/icons-s8cd2054804.png') no-repeat;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-alert {
  background-position: -46px 0;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-next-page {
  background-position: -138px -15px;
  height: 17px;
  width: 9px;
}
/* line 43, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-next-page:hover, .icon-arrow-next-page.arrow-next-page_hover, .icon-arrow-next-page.arrow-next-page-hover {
  background-position: -64px -32px;
}
/* line 43, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-next-page:active, .icon-arrow-next-page.arrow-next-page_active, .icon-arrow-next-page.arrow-next-page-active {
  background-position: -91px -32px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-prev-page {
  background-position: -177px -15px;
  height: 17px;
  width: 9px;
}
/* line 43, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-prev-page:hover, .icon-arrow-prev-page.arrow-prev-page_hover, .icon-arrow-prev-page.arrow-prev-page-hover {
  background-position: -82px -32px;
}
/* line 43, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-prev-page:active, .icon-arrow-prev-page.arrow-prev-page_active, .icon-arrow-prev-page.arrow-prev-page-active {
  background-position: -73px -32px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-authentication-group {
  background-position: -33px -32px;
  height: 16px;
  width: 16px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-bulk {
  background-position: -151px 0;
  height: 15px;
  width: 15px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-category-brand {
  background-position: 0 -32px;
  height: 16px;
  width: 17px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-category-fans {
  background-position: -123px 0;
  height: 14px;
  width: 15px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-category-game {
  background-position: -138px 0;
  height: 15px;
  width: 13px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-category-hobby {
  background-position: -153px -32px;
  height: 19px;
  width: 21px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-category-industry {
  background-position: -49px -32px;
  height: 17px;
  width: 15px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-category-life {
  background-position: -16px -15px;
  height: 7px;
  width: 17px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-category-sport {
  background-position: -91px 0;
  height: 14px;
  width: 16px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-category-study {
  background-position: -100px -32px;
  height: 13px;
  width: 17px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-certification {
  background-position: -147px -15px;
  height: 15px;
  width: 15px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-down-arrow {
  background-position: -8px -15px;
  height: 5px;
  width: 8px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-female {
  background-position: -117px -15px;
  height: 12px;
  width: 12px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-group {
  background-position: -33px -15px;
  height: 9px;
  width: 13px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-licence-auth {
  background-position: -117px -32px;
  height: 13px;
  width: 17px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-loc-white {
  background-position: -129px -15px;
  height: 12px;
  width: 9px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-loc {
  background-position: -46px -15px;
  height: 9px;
  width: 7px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-long-bar {
  background-position: 0 -51px;
  height: 20px;
  width: 186px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-male {
  background-position: -85px -15px;
  height: 12px;
  width: 13px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-manu-keyword-area {
  background-position: -166px 0;
  height: 15px;
  width: 19px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-micro-life {
  background-position: -162px -15px;
  height: 15px;
  width: 15px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-nav-business {
  background-position: -75px 0;
  height: 14px;
  width: 16px;
}
/* line 43, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-nav-business:hover, .icon-nav-business.nav-business_hover, .icon-nav-business.nav-business-hover {
  background-position: -107px 0;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-nav-group {
  background-position: -14px 0;
  height: 13px;
  width: 16px;
}
/* line 43, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-nav-group:hover, .icon-nav-group.nav-group_hover, .icon-nav-group.nav-group-hover {
  background-position: -30px 0;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-nav-people {
  background-position: -69px -15px;
  height: 12px;
  width: 16px;
}
/* line 43, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-nav-people:hover, .icon-nav-people.nav-people_hover, .icon-nav-people.nav-people-hover {
  background-position: -53px -15px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-nav-up-arrow {
  background-position: -98px -15px;
  height: 11px;
  width: 19px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-people-keyword-area {
  background-position: -134px -32px;
  height: 15px;
  width: 19px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-qq {
  background-position: -17px -32px;
  height: 16px;
  width: 16px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-search {
  background-position: 0 0;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-tenpay-auth {
  background-position: -60px 0;
  height: 13px;
  width: 15px;
}

/* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-up-arrow {
  background-position: 0 -15px;
  height: 5px;
  width: 8px;
}

/* line 27, ../sass/main.scss */
.alert {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAIAAACQKrqGAAAB60lEQVQoFQXBOW8TQRgG4HeOve14cziGWAEJkUjQgEA0qVLSU/IbU9HTgJBoUAqacAmw4wTvxtd6Zo9vDp6HKbIAvMe00NeFLtc1ke0n8nAvPjnOo1BwxgAAYIps29nLX6tEyiwSUSjXmtaqKZdK1e35i/FwNxWcMwbuPL78WOZJcHSQBIE8HaevTga6w/5uj3Px7sPP1aaxzgHgk0JlgRjm8aqiaVkDADCZ69831aCfevDPX2eqJue9nNxuj/bSSpu17jY1XXy6aTrXdaSd5cxnSfh9snh+ehhHkpfLWgo+XzcrRcuqfXN2/+35uKpJN3Q9r6IwuCm2dUNkLG+JdGs3mlaqCyUHAEA3rSXy8M5ZY2xLxlrPkzAoNw1nbKuN9w4AAEvWOX8wiJuG+lnAGAPAx8N0VlSceWNs11kAALx3cSzyLCwWmwejnUBwIZh8+mjv8tu/pjXDPJWMTQsFYHzYG+XR39miWFTnL5+kSRhIwarO3Jbbi/dXYCKNwyiMOfdN294tqnJZvT57fDzaGe73+lnIFFlj3WrTfLycXP25m80rY+3+IHl4b+fZ6SjvJ7t5OuhFUnCmyHoP65yqaataXXedsR6IpEiTsJdFWRIIzhkDU2QBAHDek3FkrLUegBAskCKQnDMGAMB/OEwjg7KQpM8AAAAASUVORK5CYII=');
}
